<%- include("partials/header.ejs") %>
    <div class="content pt-3 ms-1">
      <div class="posts mt-3 px-3">
        <form action="/search" method="get">
            <input type="text" name="search" id="search" autocomplete="off" placeholder="Enter title, author, or ISBN">
            <div class="list">
                <ul id="dropdown"></ul>
            </div>
        </form>
      </div>
      <div class="sortBar">
          <form action="/sort" method="POST">
            <p hidden id="sortOrder"><%= locals.sort %></p>
            <select name="order">
              <option id="dates" value="date">Date</option>
              <option id="ratings" value="rating">Rating</option>
              <option id="titles" value="title">Title</option>
            </select>
            <button class="sort" type="submit">Go</button>
          </form>
      </div>
      <% if (locals.data) { %>
        <% for (let i = 0; i < data.length; i++) { %>
            <div class="posts mb-3 p-3">
              <div class="review">
                <div class="top mt-3">
                  <img src="https://covers.openlibrary.org/b/id/<%= data[i].coverid %>-M.jpg" alt="Cover art of book">
                  <div class="info">
                      <p class="revForm mb-0">Title:</p>
                      <p class="mb-0"><%= data[i].title %></p>
                      <p class="revForm mt-3 mb-0">Author:</p>
                      <p class="mb-0"><%= data[i].author %></p>
                      <p class="revForm mt-3 mb-0">Date Completed</p>
                      <p class="mb-0"><%= data[i].date %></p>
                      <p class="revForm mt-3 mb-0">Rating</p>
                      <% let rank = "🖤" %>
                      <p><%= rank.repeat(data[i].rating) %></p>
                      <p class="fst-italic">*Cover art is provided by <a class="bg-transparent text-decoration-none text-black fst-italic" href="https://openlibrary.org/dev/docs/api/covers">Open Library Covers API</a></p>
                  </div>
                </div>
                <div class="bottom">
                  <hr class="mt-3 mb-0">
                  <p class="revForm mt-3 mb-0">Review:</p>
                  <p class="mt-0">
                    <%= data[i].review %>
                  </p>
                  <div class="mb-3">
                    <a class="alink text-decoration-none text-white" href="/edit/<%= data[i].id %>">Edit</a>
                    <a class="alink text-decoration-none text-white" href="/delete/<%= data[i].id %>">Delete</a>
                  </div>
                </div>
              </div>  
            </div>
        <% } %>
      <% } %>
    </div>
</div>
<%- include("partials/footer.ejs") %>